@main-content-width: 960px;
@main-content-width-tablet: 640px;
@main-content-padding: 20px;
@main-content-background: #fff;

@footer-margin-sides: -20px;
@footer-margin-bottom: -20px;

@row-padding-mobile: 0;

@logo-padding-mobile: 0;

/* BRANDED THEME VARIABLES */

// Font
@brand-title-font: 'Source Sans Pro', Arial, sans-serif;
@brand-body-font: 'Source Sans Pro', Arial, sans-serif;
@headline-font-family: @brand-title-font;

// Set colors
/* Add here if needed */

// Assign colors 
@brand-text-color: #111;
@brand-title-color: #000;
@brand-link-color: #f00;
@brand-gradient-color-light: lighten(@brand-link-color, 5%);;
@brand-gradient-color-dark: darken(@brand-link-color, 5%);
